[submodule "app/openmct"]
	path = app/openmct
	url = https://github.com/nasa/openmct
[submodule "app/cbeam-telemetry-server"]
	path = app/cbeam-telemetry-server
	url = https://github.com/c-base/cbeam-telemetry-server
